@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body general style */
body {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

/* Header */

/* Navigation Bar */

.head-bar {
  background-color: white;
  margin-bottom: 12px;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.head-bar .logo {
  font-weight: bold;
  color: #6070ff;
  margin-left: 24px;
  line-height: 20px;
}

.head-bar .menu {
  margin-right: 24px;
  border: none;
  background-color: white;
}

/* Headline */

.headline {
  background-image: url("../img/background/headlinebgmobile.png");
  background-size: 100%;
  display: flex;
}

.headline-content {
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
}

#headline-title,
#headline-subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#headline-title {
  margin-top: -10px;
  margin-bottom: -30px;
}

#headline-subtitle {
  margin-bottom: 5px;
}

#headline-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

#headline-action {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 0;
}

.headline-icons {
  flex-direction: row;
  gap: 25px;
  justify-content: start;
}

/* My Works Section */

.my-works {
  background-color: #fafafa;
  grid-template-rows: auto auto auto auto;
  row-gap: 100px;
}

#work-1{ 
  grid-row: 1 / 2;
}

#work-2 {
  grid-row: 2 / 3;
}

#work-3 {
  grid-row: 3 / 4;
}

#work-4 {
  grid-row: 4 / 5;
}

p {
  margin: 0;
  display: inline;
}

/* Cards styling */

.work-card {
  flex-direction: column;
  background: white;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 10px 24px 10px 24px;
}

img {
  flex: 1 1 100%;
  max-width: 295px;
}

.work-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #172b4d;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.work-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.client {
  color: #344563;
  font-weight: bold;
}

.job,
.year {
  font-size: 13px;
  color: #7a869a;
}
.counter{
  background: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}





/* Adding cursor pointer */

.headline-icons img:hover,
#headline-action:hover,
#menu-button:hover {
  cursor: pointer;
}

/* Displays */

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}
