@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Mobile version */

/* Body general style */

html {
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body,
.body {
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  outline: none;
  text-decoration: none;
}

/* Header */

/* Navigation Bar */

.head-bar {
  background-color: white;
  margin-bottom: 0;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.head-bar .logo {
  font-weight: bold;
  color: #1026EA;
  margin-left: 24px;
  line-height: 20px;
  animation: logodisplay 1s;
}

@keyframes logodisplay {
  from {
    transform: rotate(-90deg);
  }
}

.head-bar .menu {
  margin-right: 24px;
  border: none;
  background-color: white;
}

.navbar-desktop {
  display: none;
}

/* Headline */

.headline {
  background-image: url("../img/background/headlinebgmobile.png");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  border-bottom-left-radius: 100px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 60px;
}

.headline-content {
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 60px;
  border-bottom-left-radius: 50px;
}

#headline-title,
#headline-subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

#headline-subtitle {
  margin-bottom: 5px;
}

#headline-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.headline-info {
  margin-bottom: 20px;
}

.headline-action {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1026EA;
  margin-bottom: 20px;
}

.headline-icons {
  flex-direction: row;
  gap: 25px;
  justify-content: start;
}

/* My Works Section */

.my-works {
  background-color: #fafafa;
  grid-template-rows: auto auto auto auto;
  row-gap: 60px;
  padding-top: 75px;
  padding-bottom: 64px;
}

#work-1 {
  grid-row: 1 / 2;
}

#work-2 {
  grid-row: 2 / 3;
}

#work-3 {
  grid-row: 3 / 4;
}

#work-4 {
  grid-row: 4 / 5;
}

p {
  margin: 0;
  display: inline;
}

/* Works Cards */

.work-card {
  flex-direction: column;
  background: white;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 24px 0 24px;
}

.card-preview {
  flex: 1 1 100%;
  width: 100%;
  max-width: 480px;
  align-self: center;
  transition: all 1s;
}

.card-preview:hover {
  transform: scale(0.95);
}

.work-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #172b4d;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.work-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.client {
  color: #344563;
  font-weight: bold;
}

.job,
.year {
  font-size: 13px;
  color: #7a869a;
}

.counter {
  background: #c1c7d0;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.work-description {
  color: #344563;
}

.work-tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tag-button {
  padding: 4px 12px;
  color: #1026EA;
  background: #ebebff;
  border-radius: 8px;
  border: none;
}

.work-button {
  padding: 10px 25px;
  height: fit-content;
  width: fit-content;
  font-size: 17px;
  background: white;
  border: 1px solid #1026EA;
  border-radius: 8px;
  color: #1026EA;
}

/* About Myself Section */

.about-myself {
  width: 100%;
  margin-top: 24px;
  background-color: white;
  border-top-right-radius: 100px;
}

.about-content {
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

#about-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 14px;
}

#about-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
}

#about-action {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1026EA;
  margin-bottom: 14px;
}

.about-icons {
  flex-direction: row;
  gap: 25px;
  justify-content: start;
  margin-bottom: 20px;
}

.about-button {
  padding: 10px 25px;
  height: fit-content;
  width: fit-content;
  font-size: 17px;
  background: white;
  border: 1px solid #1026EA;
  border-radius: 8px;
  color: #1026EA;
}

.experience {
  flex-grow: 1;
  padding: 30px 30px 200px 30px;
}

.experience-list {
  flex-direction: column;
  flex-grow: 1;
}

#languages-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language {
  display: flex;
  background-color: #f7f7f9;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.language p {
  flex-grow: 3;
  margin-left: 20px;
}

.language img {
  max-width: 50px;
}

.experience h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0 10px 0;
}

.experience hr {
  height: 1px;
  border: 0;
  border-top: 1px solid lightgray;
}

/* Contact Form */

footer {
  background: #6070ff;
  background-image: url(../img/background/footerbg.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: right;
  border-top-left-radius: 100px;
  margin-top: -130px;
}

.section-form,
.section-form div,
.section-form form {
  flex-direction: column;
  text-align: center;
}

.section-form h2 {
  font-size: 40px;
  padding-bottom: 30px;
  font-weight: bold;
}

.section-form h2,
.section-form p {
  color: white;
}

.section-form {
  margin: 0 24px 0 24px;
  padding: 55px 0 55px 0;
}

.contact-title-info {
  margin-top: 30px;
}

.contact-info {
  margin-bottom: 30px;
}

.section-form form {
  gap: 18px;
}

.section-form form input,
.section-form form textarea {
  padding: 15px 16px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  flex-grow: 1;
  font-family: Poppins, sans-serif;
}

.section-form .button {
  padding: 10px 25px;
  height: fit-content;
  width: fit-content;
  font-size: 17px;
  background: white;
  border: 1px solid #1026EA;
  border-radius: 8px;
  color: #1026EA;
}

.section-form .button:hover {
  background-color: lightgray;
}

/* Adding cursor pointer */

button,
.clickeable {
  cursor: pointer;
}

button {
  transition: all 0.2s linear;
}

button:hover {
  background-color: #1026EA;
  color: white;
}

/* Displays */

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

@media screen and (min-width: 992px) {
  html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
  }

  p {
    line-height: 24px;
  }

  .body {
    min-width: 480px;
    font-family: "Poppins", sans-serif;
  }

  /* Header */

  .head-bar .logo {
    margin-left: 80px;
  }

  .navbar {
    display: none;
  }

  .navbar-desktop {
    display: flex;
    flex-direction: row;
    margin-right: 80px;
  }

  .navbar-desktop a {
    color: #344563;
    transition: all 0.2s linear;
  }

  .navbar-desktop a:hover {
    color: blue;
  }

  .navbar-desktop ul {
    gap: 40px;
  }

  .headline {
    background-image: url(../img/background/headerbg.svg);
    padding-bottom: 120px;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 50px;
    background-color: white;
  }

  #headline-title {
    margin-top: -10px;
    margin-bottom: -30px;
  }

  .headline-content {
    max-width: 700px;
    gap: 20px;
  }

  .headline-content h2 {
    margin-top: 10px;
  }

  /* Portfolio - Cards */

  .work-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 50px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 10px;
  }

  #work-2 .card-info,
  #work-4 .card-info {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  .my-works img {
    flex: 1 1 100%;
    width: 100%;
    width: 544px;
    max-width: 544px;
    align-self: center;
  }

  /* About Section */

  .about-myself-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 50px;
    padding: 100px 0 150px 0;
  }

  .about-content {
    margin-left: 50px;
  }

  .experience {
    margin-right: 50px;
  }

  .experience-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #languages-list {
    flex-direction: row;
  }

  .language {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    padding: 5px;
  }

  .language p {
    margin: 0;
    padding: 0;
  }

  /* Contact Me section */

  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/background/footerbgdesk.svg);
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .section-form {
    align-items: center;
    justify-content: center;
    max-width: 350px;
    padding: 50px;
    padding-bottom: 70px;
    font-family: "Poppins", sans-serif;
  }

  .form-input {
    width: 320px;
  }

  .form-input button {
    align-self: center;
    transition: all 0.2s linear;
  }

  .form-input button:hover {
    background-color: lightgray;
  }
}

.focus:focus {
  border: solid 3px black;
}
