@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body general style */
body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

/* Header */

/* Navigation Bar */

.navbar {
  display: flex;
  background-color: white;
  margin-bottom: 12px;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  font-weight: bold;
  color: #6070ff;
  margin-left: 24px;
  line-height: 20px;
}

.navbar .menu {
  margin-right: 24px;
  border: none;
}

/* Headline */

.headline {
  background-image: url("/img/background/headlinebgmobile.png");
  background-size: 100%;
  display: flex;
}

.headline-content {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 100px;
}

#headline-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 12px;
}

#headline-info {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

#headline-action {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 12px;
}

.headline-icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* Adding cursor pointer */

.headline-icons img:hover,
#headline-action:hover,
#menu-button:hover {
  cursor: pointer;
}
